---
import Layout from '@/layouts/Layout.astro';
import textStyles from '@/styles/text.module.css';
import { getCollection } from 'astro:content';
import { sortPosts } from '@/utils/utils';

const pages = import.meta.glob('./**/*.{astro,md,mdx}', { eager: true });
const posts = await getCollection('blog');

const pageList = Object.values(pages)
  .map((page: any) => {
    const url = page.url;
    const title = url === '' ? 'Home' : url.replace(/\//g, '').replace(/-/g, ' ').replace(/\b\w/g, c => c.toUpperCase());
    return { url, title };
  })
  .filter(page => page.url && !page.url.match(/404|500|\[/g));

const postList = sortPosts(posts).map(post => ({
  url: `/posts/${post.id}/`,
  title: post.data.title,
}));

const combinedList = [...pageList, ...postList];
---

<script>
  import createFuzzySearch from '@nozbe/microfuzz';

  function dedupeArray<T, K extends keyof T>(arr: T[], key: K): T[K][] {
    return [...new Set(arr.map(item => JSON.stringify(item[key])))].map(str => JSON.parse(str));
  }

  function searchAndDisplay() {
    const searchElement = document.getElementById('page-search');
    if (!searchElement) return;
    const url = window.location.pathname;
    const list: {url: string, title: string}[] = searchElement?.getAttribute('data-urls')
      ? JSON.parse(searchElement.getAttribute('data-urls')!)
      : [];
    const fuzzySearch = createFuzzySearch(list, { strategy: "aggressive", getText: (item) => [item.title, item.url] });

    const results: {url: string, title: string}[] = dedupeArray([...fuzzySearch(url), ...url.split('/').reverse().flatMap(segment => fuzzySearch(segment))], 'item');
    results.push({url: "/", title: "Home"});

    for (const item of results.slice(0, 5)) {
      const li = document.createElement('li');
      const a = document.createElement('a');
      a.href = item.url;
      a.textContent = item.title;
      a.className = 'text-lg font-semibold hover:text-accent';
      li.appendChild(a);
      searchElement.appendChild(li);
    }
  }

  window.onload = searchAndDisplay;
</script>

<Layout metadata={{ title: '404' }}>
  <main class="prose dark:prose-invert flex min-w-full flex-col items-center justify-center h-screen">
    <div>
      <h1 class={`text-4xl font-bold ${textStyles.terminal}`}>./404</h1>
      <p>That page doesn't exist. Maybe you meant one of these?</p>
      <ul id="page-search" data-urls={JSON.stringify(combinedList)}>
      </ul>
    </div>
  </main>
</Layout>
