---
const { fancyBackground = false } = Astro.props;
---

<div class:list={["background", fancyBackground ? "fancy-bg" : ""]}></div>

<style>
  .background {
    position: absolute;
    inset: 0;
    z-index: -10;
    overflow: hidden;
    background: linear-gradient(90deg, #fbcfe8, #d8b4fe);
  }

  :global(.dark) .background {
    background: linear-gradient(90deg, #312e81, #581c87);
  }

  .fancy-bg.background::before,
  .fancy-bg.background::after {
    content: '';
    position: absolute;
    inset: 0;
  }

  .background::before {
    width: 100%;
    height: 100%;
    background: url('/images/bg-camo.png') repeat;
    opacity: 0.3;
  }

  :global(.dark) .background::before {
    opacity: 0.8;
  }

  .background::after {
    --dots-size: 1.5px;
    --dots-spacing: 10px;
    background:
      radial-gradient(#7468871f var(--dots-size), transparent 0),
      radial-gradient(#7468871f var(--dots-size), transparent 0);
    background-size: var(--dots-spacing) var(--dots-spacing);
    background-position:
      0 0,
      calc(var(--dots-spacing) / 2) calc(var(--dots-spacing) / 2);
  }
</style>
