---
import { Icon } from 'astro-icon/components';
const { title, icon, url, ...props } = Astro.props;
---

<a
  href={url}
  class="button group relative -mt-2 h-12 w-10 cursor-pointer rounded-b-full shadow-none transition-all hover:shadow-lg active:shadow-none dark:before:bg-gray-800 before:bg-gray-300"
  {...props}
>
  <div
    class="will-change-transform inset-shadow-accent relative mt-2 h-10 w-10 overflow-clip rounded-full bg-gray-200 p-2.5 inset-shadow-2xs transition-all group-hover:-translate-y-1.5 group-active:translate-y-0 group-active:bg-gray-300 group-active:inset-shadow-sm dark:bg-gray-700 dark:group-active:bg-gray-600"
  >
    <Icon name={icon} size={20} />
  </div>
  <span class="visible-hidden col-start-1 row-start-1">{title}</span>
</a>

<style>
  .button {
    &::before {
      content: '';
      position: absolute;
      top: 0.5rem;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 100%;
      transition: color 0s 0.075s;
    }
  }
</style>
