---
import '@/styles/global.css';

import Font from 'astro/components/Font.astro';

import BaseHead from '@/components/BaseHead.astro';
import Background from '@/components/Background.astro';
import Header from '@/components/header/Header.astro';

interface Props {
  metadata?: {
    title?: string;
    description?: string;
    image?: string;
    imageAlt?: string;
    url?: string;
    type?: string;
    jsonLd?: Record<string, unknown> | Record<string, unknown>[];
  };
  fancyBackground?: boolean;
}
const { metadata = {}, fancyBackground = false } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-slate-900 font-sans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <Font cssVariable="--font-rubik" />
    <Font cssVariable="--font-neon" />
    <link rel="preconnect" href="https://net.tsuni.dev" />
    <script is:inline defer data-domain="tsuni.dev" src="https://net.tsuni.dev/js/script.js"></script>
    <script>
      addEventListener('load', () => {
        document.documentElement.classList.remove('noAnimate');
      });
    </script>
    <BaseHead {metadata} />
  </head>
  <body>
    <Header />
    <Background {fancyBackground} />
    <slot />
  </body>
</html>
